          文档介绍







1.1 文档概述




     此文档用于VCM系统各版本迭代记录查看对接使用。



1.2 修订历史




序号






版本






修订人






修订日期






版本内容






1






-






冯柱






2024年12月26日






1、vcm-新增任务管理功能
2、任务中心-交互逻辑优化




























1.3 名词解释




序号






简称






全称






解释说明














任务标题






任务标题






任务的标题














多人审核






多人审核






指一个任务被分配给多个不同的人进行审核。














合格率






合格率






指一个任务被多人审核时，合格率达到多少时被认定为合格。














单人审核






单人审核






指一个任务分配被某一个人审核（或签）
































2. 产品描述




2.1 需求概述




2.1.1 背景




   一个陈列策略的落地，包含【陈列图创建】-【陈列图下发】-【陈列图执行】-【陈列图反馈】。在这一整个环节中，目前还无法在VCM内完成陈列图反馈这一个环节动作，无法独立闭环。导致业务/客户目前都是通过第三方系统软件完成的相关陈列图执行的检查工作，需要频繁的切换软件使用，且无法调用vcm的陈列图数据实现自动创建-发送任务，工作成本较高。为了方便业务能够一站式完成整个陈列策略的闭环操作，需要新增任务管理功能，包括【任务创建】。



2.1.2 目标




完善系统【任务管理板块】功能，实现VCM陈列策略闭环。

实现模板自动创建任务-下发任务-审核任务。





2.1.3 价值




预计节省总部管理人员任务管理监督人员50%+人力成本。

预计提高门店人员任务管理效率50%+。





2.2 涉及角色场景




角色






当前场景






诉求






问题点






常用功能






运营人员






1、在每天固定时间（临近下班），通过办公软件聊天群，下发陈列任务：要求店员拍摄门店的陈列照片打包成文件发到区域管理群交给区域经理、加盟商进行查看审核。
3、通过办公协同软件反馈的图片文件检查，发出整改要求。
2、部分区域管理人员通过查看门店视频监控进行线上审查门店陈列。






能够一站式自动生成任务-发送任务-对比陈列图自动审核任务-发送整改意见。






1、检查难度大，需要投入大量的人力去一个文件一个文件点开进行检查。 
2、任务没有指向型，大部分为全部都拍。
3、视频在线巡检，容易遗漏问题且投入人力成本大。






创建发布任务、撤销任务、审核任务、查看任务、查看执行结果....






门店人员






1、接收到总部的任务后，水印相机拍摄图片自己再打包成文件发到群里。






能够有一站式清晰的任务通知、执行、查看结果的地方。






1、店员压力大，监控监督。
2、 陈列任务没有指向型，容易遗漏。






查看任务、提交执行任务、查看执行结果、任务申诉。






























2.3.1 业务流程















2.3.2 系统流程




《VCM系统调用任务中心创建任务流》















《任务全流程（改造前/后）》















《任务提交流程（改造前/后）》















新增《撤销流程》















新增《任务复盘》流程















2.4 状态机















                     任务操作 
任务状态






查看任务






提交任务






审核






撤销






任务复盘






进行中






☑️






☑️














☑️














审核中






☑️














☑️






☑️














已完成






☑️






















☑️














已撤销






☑️




































































2.5 VCM-功能清单




 一级菜单






二级菜单






功能






备注






任务管理






任务模板






新建任务模板






-






















查看任务模板






-






















修改任务模板






-






















启用/禁用任务模板






-






任务管理






任务列表






查看任务详情






-


































2.6 TeamShare-功能改造点




 功能页






功能/字段






改造点






备注






待我执行






负责人






必填项
非任务负责人在此页面不展示任务














任务编辑






任务描述






改为富文本






















任务负责人






改为必填项






















我已完成






任务创建人、非负责人无法提交任务。






















撤销任务






1、任务创建人有权限撤销任务。
2、任务创建人、非负责人无法提交任务、撤销提交的任务反馈。






















动态






任务的日志动态设置权限：
1、新增可查看任务日志动态的权限






任务提交人&提交内容不放进来（记录要加）-待定放不放这期做






待我审核






待我审核






1、名字改为我的审核
2、将所有需要我审核的任务归纳在此列表
3、新增审核结果字段：【待审核】【通过】【不通过】.......所有未产生审核结果的任务都为【待审核】
4、支持筛选审核结果
























任务审核-多人互审






取消【未审核默认值】，未审核时，状态为【待审核】。






审核逻辑：排除用户为当前门店人员






















支持重新审核






















任务审核-常规审核






取消【未审核默认值】，未审核时，状态为【待审核】。






























支持重新审核



























































2.7 权限管理




 系统






一级模块






二级模块






功能






备注






vcm






任务管理














-






新增任务管理菜单权限














任务管理






任务模板






-






新增任务模板菜单权限














任务管理






任务列表






-






新增任务列表菜单权限，拥有任务列表权限的用户拥有对任务进行撤销、审核、复盘、的权限。
































3. 功能需求描述




1、VCM-任务模板




1.1、页面概述：




功能属性：新增

所属板块：VCM-任务管理-任务模板

功能说明：用户通过此功能创建模板，调用任务中心创建任务，自动生成任务并且下发给门店或者门店人员。






1.2、页面功能：




页面名称






页面






说明






1、任务模板：
























搜索功能说明：
支持输入模板名称进行搜索。

支持输入模板状态【启用】【禁用】进行搜索。



其他信息：
显示创建人、创建时间、最后修改人、最后修改时间












列表说字段明：
模板状态：点击【启用】、【禁用】模板状态。

点击【启用】【禁用】弹窗二次提醒。











当模板失效时，无法生成任务。当模板禁用时，无法生成任务。










2、新建模板：




















模板信息：
模板名称：必填项-红色*表示，支持文本输入，最大100字。

模板生效时间：支持选择到时分秒，失效时间必须小于生效时间。



任务信息
任务标题：必填项-红色*表示，支持文本输入，最大100字，对应任务中心-任务标题。

任务生成方式：支持选择【自定义】【系统自动生成】。

自定义：+








选择门店：穿梭选择框，支持批量多选、支持全选、支持换行粘贴搜索。获取天书-控制台-门店管理内-用户，根据用户角色标签区分是否属于门店人员，非门店人员不发任务。

内容输入：富文本输入，拖拽文件即可上传，支持PNG、JPG、PDF文件格式，大小不超过10M。














任务时间：支持选择到时分秒。

任务截止时间：默认为任务结束后十分钟。点击下拉框可选择【任务结束后10分钟】【任务结束后1小时】【任务结束后不允许提交】【自定义（先不做）】，任务截止后不允许提交。












3、支持单人审核（获签审核）：审核人为必填项，根据组织架构进行人员选择。支持按部门批量选择。默认选中模版创建人为审核人，支持多选添加协助审核人。
           或签：一个人审核，即完成审核。
              对应任务中心-常规审核


















4、支持多人审核：审核人为必填项，根据组织架构进行人员选择。支持按部门批量选择。根据审核模板自动在任务中心创建审核模板。
多人审核 对应 任务中心-多人互审核

审核结果&自定义评分默认为【自定义】 通过-100分 不通过-0分

任务中心互审范围：默认为-指定用户，将模板的审核人数据填充到选择人中。

任务中心匿名审核；传参默认【开启】

任务中心互审次数；传参审核次数

任务中心审核时间-开始时间；模板任务截止时间

任务中心审核时间-结束时间；模板审核截止时间

任务中心审核计算规则：如下图支持按通过次数进行比对（与任务中心一一对应）



























     
5、无需审核：无需审核时，不调用任务中心创建审核模板。
6、任务中心-任务
7、确认创建：生成模板，必填项未填写时，前端校验提醒。任务模板创建任务，每天凌晨24点触发，在任务开始时调用任务中心去发布任务。
8、异常情况：当审核次数大于审核人员时，仅按审核人员数进行分配。例如：审核次数为10次，但是审核人员只有5人时，只分配5次。






2、新建模板-系统自动生成任务：




















1、任务生成方式为自动生成时：
          选择任务维度为：【随机商品】【门店】。








3、新建模板-系统自动生成任务-维度为按门店生成：




















1、任务生成维度为门店时：
需要选择任务门店：穿梭框选择器，支持批量多选、支持全选、支持换行粘贴搜索。










2、检查维度选择为：【检查商品】【检查陈列图】








条件：支持自定义添加条件【商品分类】（连级选择框）【商品销售类别】，支持多选全选。
检查商品数量：在门店陈列上图的sku中，按条件抽取对应数量的sku进行生成任务。
4、检查陈列图：
条件：支持按【陈列图分类】（连级选择框）进行选择，支持多选全选。
检查陈列图数量：在门店陈列上图的sku中，按条件抽取对应数量的sku进行生成任务。
5、模板内容：请拍摄【商品编码】【商品名称】【商品条码】，【商品编码】【商品名称】【商品条码】的陈列照片。（标红色的是固定文案）-








3、新建模板-系统自动生成任务-维度为按商品生成：




















1、任务生成维度为商品时：
需要选择【系统随机选择商品】【指定商品】


2、【系统随机选择商品】
支持按条件【商品分类】【商品销售类别】进行筛选，支持多选。
 
3、陈列检查的数量：
随机抽取的sku数量


4、异常情况
在选择条件下存在的sku数少于需要检查的sku数量时，只获取实际的sku数。


5、任务负责门店
根据sku获取到对应有陈列的门店，再获取对应门店下人员，生成负责人填充任务中心 的负责人。




























1、任务生成维度为商品时：
需要选择【系统随机选择商品】【指定商品】


2、【指定商品】
支持根据商品编码、名称进行搜索商品，支持多选。


3、任务负责门店
根据sku获取到对应有陈列的门店，再获取对应门店下人员，生成负责人。


































2、VCM-任务列表




1.1、页面概述：




功能属性：新增

所属板块：VCM-任务管理-任务列表

功能说明：用户通过此功能查看已经创建的陈列任务。






1.2、页面功能：




























1、任务状态：
进行中：任务已发布、但是未完成&未截止。
已完成：任务已完成，如果任务需要被审核则审核完成才算已完成。
审核中：任务已提交给审核人员审核中。
已撤销：
ÍÍ


2、任务详情
点击任务详情查看详情信息。
vcm任务详情仅查看任务信息，无法进行催办、审核、重新审核、撤销、复盘等操作。


3、搜索
支持按任务名称模糊搜索
支持按任务状态搜索
支持按任务结果搜索
支持按时间段搜索
支持多条件联动搜索








































1、任务详情：
支持查看任务发布人：模板创建的任务，任务发布人为模板名称。
支持鼠标移入查看图片大图
支持查看任务提交时间：为任务最后提交时间。
（需要验证多个门店同时提交多个图片的时候性能问题&连续多拍图片上传会不会导致系统崩溃-曾沛）

































3、任务中心-改动




3.1、TeamShare-任务中心功能改造点




 功能页






功能/字段






改造点






备注






后端人天






待我执行






负责人






必填项
非任务负责人在此页面不展示任务














0.2






任务编辑






任务描述






改为富文本






取消此功能






0














任务负责人






改为必填项






























我已完成






任务创建人、非负责人无法提交任务、
创建人可以撤销任务（目前撤销按钮只在vcm展示）。
撤销任务说明：无论任务处于什么状态，都可以被撤销，撤销后的任务可在全部任务中查看，无法继续提交、审核






增加operation=3（任务创建人、非负责人无法编辑任务）






0.5














撤销任务






1、拥有vcm任务列表权限的用户可以撤销任务。














2














动态栏






任务的日志动态设置权限：
1、新增可查看任务日志动态的权限(先不做）






















待我审核






待我审核






1、名字改为我的审核
2、将所有需要我审核的任务归纳在此列表（包括已审核的任务）
3、新增审核结果状态字段：【待审核】【通过】【不通过】.......所有未产生审核结果的任务都为【待审核】
4、支持筛选审核结果（PC端需要）
















1














照片审核






1、支持自定义不合格区域
2、支持自定义不合格语录






























任务审核-多人互审






1、取消【未审核默认值】，未审核时，状态为【待审核】。








审核逻辑：排除用户为当前门店人员
待办：重新整理审核计算的逻辑






















任务审核-常规审核






1、取消【未审核默认值】，未审核时，状态为【待审核】。






















我已完成






我已完成






1、内容提交内容剥离出动态页，单独拿出来做一个提交框。














0






任务复盘（未有）






任务复盘（未有）






新增任务复盘功能


































































页面名称






页面






说明






待我执行




















1、任务负责人
非任务负责人，在待我执行页面不展示任务数据
非任务负责人，不展示【我已完成】按钮，不允许提交任务。


2、任务创建人
通过vcm系统自动创建的任务，任务创建人为VCM-模板最后启用人。
新增任务分组-vcm（不允许删除，当组织下未开通vcm系统时，不展示该分组），通过vcm创建的任务，会自动归纳入VCM任务分组中。
3、拥有vcm任务列表的权限的用户等同于拥有vcm系统任务创建者权限，支持撤销任务、审核任务、的权限。
3、任务中心需要提供判断任务来源的接口逻辑。-需要设置任务交接（后面做）。


















全部任务




















1、新增审核结果字段
任务无需审核时，使用【- 】填充
当任务还在审核中为【待审核】
当任务由审核结果时，展示审核结果。
2、审核结果字段支持字段配置（显示/隐藏）
3、全部任务中，只包含需要负责执行的任务和自己创建的任务，审核任务放入我的审核中，不在全部任务中展示。






新建任务




















1、新建任务
改为弹窗显示（PC端）


2、任务标题
必填项


4、截止时间
默认为今天18点，支持选择到时分秒。


5、任务负责人
默认为任务创建人，支持批量选择。
改为：必填项


6、任务审核单
点击后选择任务审核单。原交互逻辑由先创建任务-再更新修改任务审核单改为创建任务时直接选择/创建审核单。

任务发布后，不支持任务审核模版修改。










6、执行配置单
点击后选择任务审核单。原交互逻辑由先创建任务-再更新修改执行配置单改为创建任务时直接选择/创建执行配置单。

任务发布后，不支持执行配置单修改。


















撤销任务




















1、撤销任务-放在vcm实现
删除任务功能改为撤销任务

撤销后所有任务数据失效，统计时不纳入统计。

通过vcm创建的任务，拥有vcm-任务管理权限的用户有权限撤销任务。

任务创建人有权限撤销创建的任务。



2、点击撤销任务二次弹窗确认。
点击确认，撤销任务
点击取消，取消本次操作








1、撤销任务后，任务状态为已撤销。
























审核任务




































1、待我审核-改为我的审核
由只记录待我审核的数据，改为记录我审核的所有任务数据。

支持添加【审核结果】筛选条件。



2、我的审核-详情
不允许点击编辑【添加子任务】、【上传附件】字段的新增审核结果字段



任务描述提示语删除。












3、新增任务反馈字段
提交上来 的最后一次任务反馈将在此处显示。
鼠标移入图片支持放大缩小查看。
4、审核任务从全部任务中剥离出来。






审核并下一个




















1、删除审核按钮，保留【审核并下一个】按钮
2、已审核完成后，审核按钮改为【重新审核】，在审核截止时间内允许重新审核。










常规审核






















1、取消无审核人默认值功能，无审核时就标记为【待审核】状态。
2、新增审核截止时间，审核截止后，审核人无法在进行审核修改。任务创建人（管理员可以修改）
3、审核结束后，根据结果计算规则 ，进行计算，然后得出审核结果。






多人互审




















1、互审范围：
新增指定用户，选择后弹出用户选择器进行选择。

当为指定用户时：不显示【分配到人】按钮










2、互审时间
点击后交互改为开始时间+结束时间，结束时间必须晚于开始时间。







3、删除【未审核默认值】功能
4、审核逻辑：
分配逻辑：过滤掉当前门店人员，再按人员排序挨个分配。每次个模板每次生成的任务人员乱序一次，以便不会永远审核相同门店任务。（重要）









       .截止时间：审核截止后，无法再审核，并且根据已产生的任务结果，计算生成任务结果。
       .结果判断：合格率=（已审核通过数/已产生审核结果数）






结果计算规则，新增通过率判断




















1、即当【通过次数】大于/小于/大于等于/小于等于/等于【百分比】为【*】 时，审核结果为 【通过/不通过】
2、计算规则：通过/不通过的结果数 / 实际产无审核人默认值生审核结果的次数






启用下一阶段



















1、启用下一阶段改为【审核范围】
2、当上一个审核阶段为：【数字评分的时候】展示：
根据上一个审核节点的得分设置判断值，当符合判断值的任务进行推送到该节点进行审核，不符合判断值的任务直接生成任务审核结果。

支持最多选择5个范围条件，判断符号选择过一次，无法再选择第二次。例如：已经选择了大于符号，下一个范围条件无法选择大于，只能选择小于、等于、小于等于、大于等于。

最少保留一个范围条件。

点击添加符号添加、点击删除符号删除。

必填项











3、当上一个审核阶段为：【自定义评分时】展示：
根据上一个审核节点的得分设置判断值，当符合判断值的任务进行推送到该节点进行审核，不符合判断值的任务直接生成任务审核结果。

支持最多选择2个范围条件，判断符号选择过一次，无法再选择第二次。例如：已经选择了范围条件为【通过】，下一个选择条件只能选择【不通过】

 最少保留一个范围条件。

 点击添加符号添加、点击删除符号删除。

 必填项





















































功能疑问点



Q1: 为什么一定要创建VCM任务自定义分组（首先，任务分组分为自定义分组、负责人分组、来源分组）？



1、任务自定义分组是针对每个人自定义的，首先判断组织是否开通VCM，目前就没有这种方式



2、不建议加这种功能（不利于后续扩展）



3、提议加一个任务来源为VCM,按照任务来源分组时，也能清晰的看见VCM分组，如图2

























答：任务来源加VCM,不在自定义分组中增加VCM



Q2: 已撤销的审核任务，不展示在全部任务中？还有个疑问点，全部任务不应该展示所有的任务吗？如果一个任务的执行人、审核人都是他自己（假设），他刚开始可以在全部任务中看见，任务进入审核阶段就看不见了，这不会让用户很疑惑吗？

























答：审核任务不是自己的任务，不放在全部任务里面。



将【全部任务】改为 【我的任务】



Q3: 审核结果筛选条件，operator可以为什么？大于？等于？小于？值可以为什么？通过？不通过？



等于



通过、不通过、待审核



任务描述提示语删除，具体删除哪句提示语？



当用户为执行人、审核人时，编辑提示需要去掉，任务此时不允许被编辑

























Q4:超过审核截止时间后，如果永远没有人审核，这个任务就永远处于审核中？是














Q5: 关于审核阶段



1、审核范围，改为只根据上一阶段的审核结果判断是否开启下一个审核阶段？是



2、自定义评分，内容只能为通过和不通过吗？因为通过率其实是需要通过这个自定义评分的？



自定义内容只能为通过和不通过，用户可以自由打分



3、审核结果计算规则保持不变？是












